
.ml-1 {
    margin-left: 0.25rem;
}

.font-weight-bold {
    font-weight: bold;
}

.nav-link {
    color:#12536d;
    width: 150px;
}

.nav-link:hover {
    color:white;
    background: #12536d !important;
}

.nav-link.active {
    background: #12536d !important;
}

.nav-item {
    cursor: pointer;
}

.circle{
    margin-left:20px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
}